*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.header{
    height: 100vh;
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    
}
.banner-text{
    font-size: 65px;
    width: 525px;
    height: 220px;
    text-align: right;
    margin-left: 845px;
    padding-top: 216px;
    padding-bottom: 24px;
    font-weight: 700;
    
}
.banner-description{
    width: 494px;
    height: 78px;
    font-size: 16px;
    text-align: right;
    color: #444343;
    margin-left: 876px;
    padding-top: 24px;
}
.btn{
    width: 160px;
    height: 64px;
    margin-left: 1210px;
    text-align: center;
    background: orangered;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
/* failure section*/
.failures{
    display: flex;
}
.person-img{
    width: 569px;
    height: 723px;
    padding-left: 206px;
}
.failures-main{
    width: 288px;
    height: 94px;
    font-size: 40px;
    padding-top: 220px;
    margin-left: 200px;
    color: #151414;
}
.failures-description{
    width: 416px;
    height: 104px;
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    padding-left: 200px;
    padding-top: 30px;
}
.failures-ul{
    list-style: none;
    padding-left: 200px;
    color: #444343;
}
/* my plan section*/
.my{
    padding-top: 100px;
}

.about{
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   color: #151414;


}

.development{
    display: flex;
    
    text-align: center;
    margin-left: 300px;
}
.start{
    margin-right: 86px;
    padding-top: 50px;
}

/* gradient*/
.gradient{
    width: 1140px;
    height: 300px;
    margin-left: 230px;
    border-radius: 8px;
    background-image: url('../images/watch.png'),linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    background-blend-mode: overlay; 
    margin-top: 100px;
}
.gradient-main{
    width: 459px;
    height: 182px;
    margin-left: 100px;
    padding-top: 50px;
}
.gradinet-title{
    width: 459px;
    height: 94px;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 24px;
}
.gradient-btn{
    width: 160px;
    height: 50px;
    font-size: 20px;
    color: #F15B22;
    border: none;
    border-radius: 5px;

}
/*footer*/
.footer{
    display: flex;
    padding-left: 230px;
    background-color: #151414;
    margin-top: 130PX;
    padding-top: 130px;
    
}
.future{
    width: 184px;
    height: 53px;
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;

}
.footer-description{
    width: 485px;
    height: 78px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 20PX;
    
}
.email{
    width: 148px;
    height: 26px;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 20px;

}
.icon{
    width: 46px;
    height: 46px;
    margin: 5px;
}
.form{
    margin-left: 331px;
}
.sub{
    width: 122px;
    height: 29px;
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    padding-bottom: 31px;
}
.enter{
    width: 300px;
    height: 50px;
    color: #F8F8F8;
    background: #151414;
   border: 1px solid #F8F8F8;
   border-radius: 5px;
   margin-bottom: 20px;
}
.sub2{
    width: 120px;
    height: 50px;
    background: #FFFFFF;
    font-size: 16px;
    color: red;
    border-radius: 5px;
    
}